<h1 class="titulo">Header</h1>


<div class="row">
  <div class="col-sm-4">
    <h1>Menu</h1>

    <ul>
      <li>
        <a [routerLink]="[
        '/home'
        ]">Home</a>
      </li>
      <li>
        <a [routerLink]="[
        '/FAQ'
        ]">FAQ</a>
      </li>
      <li>
        <a [routerLink]="[
        '/404'
        ]">No encontrado</a>
      </li>
    </ul>


  </div>
  <div class="col-sm-8">

    <router-outlet></router-outlet>

  </div>
</div>



<button class="boton"
        (click)="irAPerfilUsuario()">
  Boton
</button>

<h1 class="texto">Footer</h1>
